:root {
  --mainColor: #1e202b;
  --secondaryColor: #101322;
  --thirdColor: #1d212f;
  --fourthColor: #bfc1c8;
  --blackColor: #000;
  --whiteColor: #fff;
  --blueColor: #009ad8;
}

.light {
  --mainColor: #795a3a;
  --secondaryColor: #4e3b28;
  --thirdColor: #3f2d1c;
  --fourthColor: #bfc1c8;
  --blackColor: #000;
  --whiteColor: #fff;
  --blueColor: #d8bb00;
}

::-moz-selection {
  background-color: var(--fourthColor);
  color: var(--mainColor);
}

::selection {
  background-color: var(--fourthColor);
  color: var(--mainColor);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--blueColor);
}

::-webkit-scrollbar-track {
  background-color: var(--whiteColor);
}

body {
  background-color: var(--mainColor);
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--fourthColor);
}

@media (max-width: 250px) {
  * {
    font-size: 0.8rem !important;
  }
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: grab;
  text-align: center;
}

#nav {
  padding: 1.3rem 0;
  background: transparent;
  transition: all 1s;
}
#nav .navbar-brand {
  color: var(--mainColor);
  font-weight: 900;
  letter-spacing: 0.1rem;
}
#nav .navbar-brand img {
  mix-blend-mode: luminosity;
}
#nav .navbar-toggler {
  position: relative;
  border: none;
}
#nav .navbar-toggler[aria-expanded=true] span:nth-child(2) {
  opacity: 0;
}
#nav .navbar-toggler[aria-expanded=true] span:first-child, #nav .navbar-toggler[aria-expanded=true] span:last-child {
  top: 6px;
  background-color: var(--whiteColor);
}
#nav .navbar-toggler[aria-expanded=true] span:first-child {
  transform: rotate(45deg);
}
#nav .navbar-toggler[aria-expanded=true] span:last-child {
  transform: rotate(-45deg);
}
#nav .navbar-toggler span {
  background-color: var(--whiteColor);
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0;
  transition: all 0.3s ease;
}
#nav .navbar-toggler span:first-child {
  top: 0;
}
#nav .navbar-toggler span:nth-child(2) {
  top: 6px;
}
#nav .navbar-toggler span:last-child {
  top: 12px;
}
@media (max-width: 991px) {
  #nav .navbar-collapse ul {
    align-items: center;
  }
}
#nav .navbar-collapse ul .active a,
#nav .navbar-collapse ul li:hover a {
  opacity: 1;
  color: var(--blueColor);
  position: relative;
  border: 2px solid var(--blueColor);
}
#nav .navbar-collapse ul li {
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 991px) {
  #nav .navbar-collapse ul li {
    margin: 5px 0;
  }
}
#nav .navbar-collapse ul li a {
  color: var(--fourthColor);
  border-radius: 20px;
  padding: 0.2rem 1.3rem;
  border: 2px solid transparent;
}
#nav .navbar-collapse ul li .ToggleBtn {
  width: 75px;
  height: 30px;
  background: var(--blueColor);
  border-radius: 25px;
  position: relative;
  transition: 0.5s;
  box-shadow: inset 5px -5px 20px -5px #363636;
}
#nav .navbar-collapse ul li .ToggleBtn .circle {
  cursor: pointer;
  position: absolute;
  background: #ffffff;
  width: 25px;
  height: 25px;
  margin: 0 5px;
  top: 50%;
  left: 0%;
  border-radius: 50%;
  transform: translate(0, -50%);
  transition: 0.5s;
  box-shadow: inset -5px 5px 20px -5px #363636;
}
#nav .navbar-collapse ul li .ToggleBtn .light {
  left: 100%;
  transform: translate(calc(-100% - 10px), -50%);
}
#nav button:focus {
  box-shadow: none;
  outline: none;
}
#nav button i {
  color: var(--fourthColor);
}
#nav .navbar-toggler {
  border: none;
}

.input {
  position: relative;
}
.input input[type=text],
.input textarea {
  background: var(--mainColor);
  color: var(--whiteColor);
  font-size: 1.1rem;
  box-shadow: none;
  outline: none;
  border: 2px solid transparent;
  transition: 0.5s;
}
.input input[type=text]::-moz-placeholder, .input textarea::-moz-placeholder {
  color: var(--fourthColor);
}
.input input[type=text]::placeholder,
.input textarea::placeholder {
  color: var(--fourthColor);
}
.input input[type=text]:focus,
.input textarea:focus {
  border: 2px solid var(--blueColor);
}
.input .error {
  border-color: #dd6f6f !important;
}
.input svg {
  position: absolute;
  color: var(--fourthColor);
  font-size: 1.3rem;
  right: 0;
  top: 50%;
  transform: translate(-20px, -50%);
}

#main .banner {
  min-height: 22rem;
  padding: 4.5rem 0;
  background: url("../img/banner.png");
  background-repeat: no-repeat;
}
#main .banner .container .allCards .lightCard .card-title {
  background: var(--thirdColor);
}
#main .banner .container .allCards .lightCard .card-body {
  background: var(--secondaryColor);
}
#main .banner .container .allCards .darkCard .card-title {
  background: var(--secondaryColor);
}
#main .banner .container .allCards .darkCard .card-body {
  background: var(--thirdColor);
}
#main .banner .container .allCards .maincard .card-title {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#main .banner .container .allCards .maincard .card-body .alltodayTemperature .todayTemperature {
  font-weight: 600;
  font-size: 5rem;
}
@media (max-width: 767px) {
  #main .banner .container .allCards .maincard .card-body .alltodayTemperature .todayTemperature {
    font-size: 3rem;
  }
}
@media (max-width: 250px) {
  #main .banner .container .allCards .maincard .card-body .alltodayTemperature .todayTemperature {
    font-size: 1rem;
  }
}
#main .banner .container .allCards .maincard .card-body .alltodayTemperature img {
  width: 100px;
}
#main .banner .container .allCards .maincard .card-body .allIcons .icon {
  text-align: center;
  font-size: 1.1rem;
  -webkit-margin-end: 1rem;
          margin-inline-end: 1rem;
}
#main .banner .container .allCards .cardX {
  display: flex;
  flex-direction: column;
  padding: 0;
  border: none;
  width: 100%;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  #main .banner .container .allCards .cardX {
    background-color: transparent;
    padding: 10px;
  }
}
#main .banner .container .allCards .cardX .card-title {
  margin: 0;
  padding: 0.2rem 0.5rem;
}
#main .banner .container .allCards .cardX .card-title p {
  margin: 0;
  padding: 0.5rem 0;
  font-size: 1rem;
}
#main .banner .container .allCards .cardX .card-body {
  padding: 1.5rem 1rem;
}
#main .banner .container .allCards .cardX .card-body .weatherType {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--blueColor);
  margin-bottom: 1rem;
  display: inline-block;
}
#main .banner .container .allCards .subCard {
  text-align: center;
}
#main .banner .container .allCards .subCard img {
  margin: 1rem 0;
}
#main .banner .container .allCards .right {
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  #main .banner .container .allCards .right {
    margin-top: 10px;
  }
}
#main .banner .container .allCards .right .owl-carousel .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#footer {
  background-color: var(--secondaryColor);
  padding: 5rem 0;
}
#footer .left .input .btnX {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
}
#footer .left .input .btnX button {
  height: 100%;
  background: var(--blueColor);
  color: var(--whiteColor);
  border-radius: 30px;
  margin: 0 2px;
  padding: 0 15px;
  border: 2px solid var(--blueColor);
  transition: 0.5s;
}
#footer .left .input .btnX button:hover {
  background-color: var(--whiteColor);
  color: var(--blueColor);
}
#footer .right .icon {
  width: 40px;
  height: 40px;
  background: var(--thirdColor);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
}
#footer .right .icon svg {
  transition: 0.5s;
}
#footer .right .icon:hover svg {
  color: var(--blueColor);
}

#Contact {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#Contact .input #mainSearch {
  background-color: var(--secondaryColor);
}
#Contact .row .allCard {
  display: flex;
  justify-content: center;
}
#Contact .row .allCard .left {
  max-width: 350px;
}
#Contact .row .allCard .left .cardX {
  background-color: var(--secondaryColor);
}
#Contact .row .allCard .left .cardX .all-text-icon {
  padding: 10px;
}
#Contact .row .allCard .left .cardX .all-text-icon .text-icon {
  margin-block: 5px;
  display: flex;
}
#Contact .row .allCard .left .cardX .all-text-icon .text-icon .icon {
  color: var(--blueColor);
  margin-right: 10px;
}
#Contact .row .allCard .left .cardX .all-text-icon .text-icon .text p {
  margin: 0;
  font-size: 0.8rem;
}
#Contact .row .allCard .right .input {
  margin-bottom: 1rem;
}
#Contact .row .allCard .right .input input,
#Contact .row .allCard .right .input textarea {
  font-size: 0.9rem;
  background-color: transparent;
  border: 2px solid var(--secondaryColor);
}
#Contact .row .allCard .right .input input:hover, #Contact .row .allCard .right .input input:focus,
#Contact .row .allCard .right .input textarea:hover,
#Contact .row .allCard .right .input textarea:focus {
  border: 2px solid var(--blueColor);
}
#Contact .row .allCard .right .input textarea {
  height: 150px;
  border-radius: 20px;
  resize: none;
}
#Contact .row .allCard .right button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--blueColor);
  color: var(--secondaryColor);
  padding: 0.2rem 1rem;
  border-radius: 15px;
  border: 2px solid var(--blueColor);
  transition: 0.5s;
}
#Contact .row .allCard .right button:hover {
  background-color: transparent;
  color: var(--blueColor);
}/*# sourceMappingURL=main.css.map */